@import url(../components/flexslider/flexslider.css);
@font-face {
  font-family: 'lato-regular';
  src: url("../fonts/Lato-Regular/Lato-Regular.eot") format("embedded-opentype"), url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato-bold';
  src: url("../fonts/Lato-Bold/Lato-Bold.eot") format("embedded-opentype"), url("../fonts/Lato-Bold/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica';
  src: url("../fonts/Helvetica/Helvetica.otf") format("truetype");
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaLight';
  src: url("../fonts/Helvetica/Helvetica-Light.otf") format("truetype");
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato-light';
  src: url("../fonts/Lato-Light/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'f-medium';
  src: url("../fonts/F-Medium/F-Medium.eot") format("embedded-opentype"), url("../fonts/F-Medium/F-Medium.woff") format("woff"), url("../fonts/F-Medium/F-Medium.ttf") format("truetype"), url("../fonts/F-Medium/F-Medium.svg#F-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'f-light';
  src: url("../fonts/F-Light/FuturaStd-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'f-book';
  src: url("../fonts/F-Book/FuturaStd-Book.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'f-bold';
  src: url("../fonts/F-Bold/F-Bold.eot") format("embedded-opentype"), url("../fonts/F-Bold/F-Bold.woff") format("woff"), url("../fonts/F-Bold/F-Bold.ttf") format("truetype"), url("../fonts/F-Bold/F-Bold.svg#F-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: 'lato-regular', helvetica, arial, sans-serif;
  font-size: 12px;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-family: 'f-medium', helvetica, arial, sans-serif!important;
  font-size: 2.8rem;
  line-height: 1.2em;
  padding: 24px 0 15px;
  text-align: center;
  color: #6c6f98!important;
  letter-spacing: 3px;
  font-size: 41px!important;
  font-weight: 700!important;
}

h2 {
  font-family: 'f-medium', helvetica, arial, sans-serif!important;
  font-size: 2.4rem;
  line-height: 1.2em;
  padding: 20px 0 15px;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.2em;
  padding: 15px 0 10px;
}

p {
  line-height: 1.4em;
}

.container{
  width: 100%!important;
}
.row{
  width: 100%!important;
}

.white {
  color: white;
}

.text-center {
  text-align: center;
}

.text-highlight {
  font-size: 1.4rem;
}

section {
  padding: 45px 0;
  position: relative;
  z-index: 0;
  color: #4A4A4A;
  clear: both;
}
section:before, section:after {
  content: " ";
  display: table;
}
section:after {
  clear: both;
}

.content-wrapper {
  position: relative;
  margin: 0 auto;
  width: 98%;
  /*max-width: 1024px;*/
}

button, a {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
button.white, a.white {
  color: white;
}
button.ghost, a.ghost {
  border: 1px solid #164c89;
  padding: 10px 15px;
  color: #164c89;
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.see-more-button{
  font-family: 'lato-black';
  font-size: 18px;
  border: 2px solid #6C6F98;
  padding: 10px 50px;
  display: inline-block;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  color: #6C6F98!important;
  margin-top: 25px;
}
.see-more-button:hover{
  background-color: #6C6F98;
  color: white!important;
  text-decoration: none!important;
}
button.ghost:hover, a.ghost:hover {
  color: #ce0058;
  border: 1px solid #ce0058;
}
button.ghost.white, a.ghost.white {
  color: white;
  border: 2px solid white;
}
button.ghost.navbar, a.ghost.navbar {
  color: white;
  border: 1px solid white;
}
button.ghost.white:hover, a.ghost.white:hover {
  opacity: 0.6;
}
button:hover, a:hover {
  color: #ce0058;
}
.page-home-title {
  font-family: 'f-medium', helvetica, arial, sans-serif!important;
  font-size: 35.05px;
  color: #FFFFFF ;
  letter-spacing: 2.08px;
  line-height: 1.2em;
  padding: 24px 0 15px;
  text-align: center;
  color: white!important;

}
.section-title{
  font-family: 'f-medium', helvetica, arial, sans-serif!important;
  font-size: 44px;
  color: #595B86 ;
  letter-spacing: 2.41px;
  text-align: center;

}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;
  z-index: 1;
}
.footer{
  padding-top: 40px!important;
  padding-bottom: 40px!important;
}
header .logo {
  float: left;
}
header .logo img {
  width: 150px;
}
header nav {
  float: right;
  font-family: 'f-medium', helvetica, arial, sans-serif;
}
header nav li {
  color: white;
  display: inline-block;
  margin: 0 5px;
}
header nav li a {
  color: white;
  text-decoration: none;
}

footer {
  background: #4A4A4A;
  padding: 24px;
  clear: both;
}
footer:before, footer:after {
  content: " ";
  display: table;
}
footer:after {
  clear: both;
}
footer h2 {
  text-align: left;
}
footer a {
  color: white;
  font-size: 18px;
}
footer p {
  color: white;
  font-size: 18px;
}
footer a:hover {
  color: #ce0058;
}
footer .contact-data, footer .follow {
  float: left;
  width: 25%;
  padding-right: 34px;
  line-height: 1.5em;
}
footer .we-are {
  float: right;
  width: 50%;
  text-align: right;
}
footer .we-are h2 {
  text-align: right;
}
.navbar-container{
  padding-left:40px!important;
  padding-right: 40px!important;
}
.navbar-link{
  font-size: 19px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px!important;
}
.page-home {
  background: transparent url(../images/home-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  letter-spacing: 1.7px;
}
.page-home .home-copy {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-home-subtitle{
  font-family: 'f-light';
  font-size: 24px;
  color: #FFFFFF ;
  letter-spacing: 1.71px;
  /*font-size: 18px;*/
}
.valign-wrapper {
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 -webkit-flex-align: center;
 -ms-flex-align: center;
 -webkit-align-items: center;
 align-items: center;
}

.valign-wrapper .valign {
 display: block;
}

.page-skills {
  background: #fafafa;
  padding: 24px 0;
  clear: both;
}
.page-skills:before, .page-skills:after {
  content: " ";
  display: table;
}
.page-skills:after {
  clear: both;
}

.skills li {
  float: left;
  width: 100%;
  padding: 15px 25px;
  text-align: center;
  border-left: none;
  border-bottom: 1px solid #6c6f98;
  color: #6c6f98;
}
.skills li:last-child {
  border-bottom: none;
}
@media (min-width: 768px) {
  .skills li {
    padding: 0 15px;
    width: 25%;
    border-left: 1px solid #6c6f98;
    border-bottom: none;
  }
}
.skills li img {
  width: 60px;
}

.projects li {
  width: 100%;
  position: relative;
  text-align: center;
  clear: both;
}
.projects li:before, .projects li:after {
  content: " ";
  display: table;
}
.projects li:after {
  clear: both;
}
.projects li .img {
  width: 35%;
  float: left;
}
.projects li .project-info {
  width: 45%;
  float: right;
  padding: 24px 0;
}
.projects li .project-info p {
  padding-bottom: 15px;
  max-width: 385px;
  margin: 0 auto;
  width: 95%;
}
.projects li:nth-child(2n) .img {
  width: 35%;
  float: right;
}
.projects li:nth-child(2n) .project-info {
  width: 45%;
  float: left;
}

.comments {
  background: transparent url(../images/comments-bg.gif) no-repeat center center;
  background-size: cover;
  height: 330px;
  width: 100%;
  margin: 45px 0 0;
  padding: 70px 0;
  overflow: hidden;
  position: relative;
}
.comments .flex-viewport {
  overflow: visible !important;
  height: 100%;
}
.comments .comment {
  margin: 0 auto;
  width: 80%;
  height: 200px;
  position: relative;
  clear: both;
}
.comments .comment:before, .comments .comment:after {
  content: " ";
  display: table;
}
.comments .comment:after {
  clear: both;
}
.comments .comment .comment-user {
  text-align: center;
  color: white;
  width: 200px;
  top: 40px;
  position: absolute;
}
.comments .comment .comment-user .user-picture {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  overflow: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.comments .comment .comment-user .user-picture img {
  width: 100%;
}
.comments .comment .comment-message {
  padding: 15px;
  background: white;
  right: 50px;
  left: 160px;
  top: -8px;
  position: absolute;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.comments .comment .comment-message:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: white transparent transparent transparent;
  top: 100%;
  left: 10px;
}

.page-team .globe {
  color: white;
  padding: 15px;
  margin-left: 124px;
  background: #6c6f98;
  top: 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.page-team .globe:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #6c6f98 transparent transparent transparent;
  top: 100%;
  left: 10px;
}
.page-team .team {
  width: 100%;
  margin: 30px 0;
  text-align: center;
}
.page-team .team .black-box {
  background: rgba(22, 76, 137, 0.3);
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  color: white;
  padding: 15px;
  text-align: left;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.page-team .team .black-box h3 {
  padding: 0px;
}
.page-team .team li {
  width: 100vw;
  height: 100vw;
  margin: 10px 0;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
}
.page-team .team li img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: width 1.5s ease-in-out;
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
  z-index: 0;
}
.page-team .team li:hover .black-box {
  opacity: 1;
}
@media (min-width: 768px) {
  .page-team .team li {
    width: 200px;
    height: 250px;
    margin: 30px;
  }
  .page-team .team li:hover {
    width: 200px;
  }
  .page-team .team li:hover img {
    width: 120%;
  }
}

.page-contact {
  background: #ce0058;
  text-align: center;
  padding-top: 0px!important;
}
.page-contact button.ghost {
  background-color: #CE0058;
  font-size: 2rem;
  border-width: 3px;
  margin: 24px 0;

}

.hidden {
  display: none !important;
}
.send-button{
  margin-left: 10%!important;
}
.contact-input{
  width: 40%;
  margin-right: 50%;
  margin-left: 10%;
  background-color: transparent;
  border: solid 0px;
  border-bottom: solid 3px white;
  height: 70px;
  margin-bottom: 10px;
  color: white;
  font-size: 25px;
}
.contact-input:focus{
	outline: 0px;
}
#contact-form{
  text-align: left;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.74);
   font-size: 25px;
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.74);
  font-size: 25px;
  height: 20px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.74);
  font-size: 25px;
  height: 20px;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.74);
  font-size: 25px;
  height: 20px;
}

.contact-animation{
  margin-top: -245px;
  -webkit-transition: margin-top 2s; /* Safari */
  transition: margin-top 2s;
}

.project-title{
  color: #595B86 ;
  letter-spacing: 1.65px;
  font-family: 'f-light';
  line-height: 1.2em;
  padding: 24px 0 15px;
  text-align: center;
  font-size: 34px!important;
  margin-bottom: 10px;
}
.project-text{
  font-size: 18px;
  color: #666666 ;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'lato-light';
}
.team-title{
  margin-top: 24px;
}
.contact-title{
  font-family: 'f-book';
  font-size: 40px;
  color: #FFFFFF ;
  padding-top: 45px;
}
.project-wrapper{
  margin-top: 150px;
}
.footer-title{
  font-family: 'f-medium';
  font-size: 30px;
}
.footer-text{
  font-family: 'f-book';
  font-size: 16px;
  color: #FFFFFF ;

}
.no-margin{
  margin: 0px!important;
}
.footer-link{
  width: 100%;
  border: solid 2px white;
  padding: 5px 7px;
  color:white;
  margin: 1px;
}
.footer-link:hover{
  border: solid 2px white;
  padding: 5px 7px;
  color:white;
}
.no-padding{
  padding:0px!important;
}
.work-with-us-container{
  background-color: #6C6F98;
  height: 200px;
  text-align: center;
  margin-top:30px;
}
.work-with-us-button{
  color: white!important;
  border: solid 3px white;
  margin: auto!important;
  background-color: #6C6F98;
  font-family: 'f-medium';
  font-size: 19px;
  padding: 10px 15px;
}

.xs-talents{
  width: 100%;
}
.talents-title{
  text-align: center;
  font-family: 'f-light';
}

.navbar-toggle {
    position: absolute!important;
    float: right;
    top: 20px!important;
    right: 0!important;
    padding: 9px 10px;
    margin-top: 0px!important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-collapse{
      padding-top: 40px;
}
.glyphicon-menu-hamburger{
  font-size: 24px;
  color:white;
}
.glyphicon-remove-circle{
  color:grey;
  font-size: 24px;
}
.navbar-collapse {
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1)!important;
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1)!important;
}

.button-close{
    background-image: url('./images/close.png')!important;
    background-size: 100% 100%!important;
}
#close-contact-button{
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: transparent;
  font-size: 24px;
  color: white;
  margin-right: 15px;
  font-family: 'f-medium';
}

a:hover, a:focus {
    color: #ce0058!important;
    text-decoration: none!important;
}

a.ghost.white:hover {
  color: #ce0058;
  border: 2px solid #ce0058;
  opacity: 1!important;
}

.noMargin{
  margin: 0px!important;
}
