html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.2em;
  padding: 24px 0 15px;
  text-align: center;
  color: #6c6f98;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.2em;
  padding: 20px 0 15px;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.2em;
  padding: 15px 0 10px;
}

p {
  line-height: 1.4em;
}

.white {
  color: white;
}

.text-center {
  text-align: center;
}

.text-highlight {
  font-size: 1.4rem;
}

section {
  padding: 45px 0;
  position: relative;
  z-index: 0;
  color: #4A4A4A;
  clear: both;
}
section:before, section:after {
  content: " ";
  display: table;
}
section:after {
  clear: both;
}

.content-wrapper {
  position: relative;
  margin: 0 auto;
  width: 98%;
  max-width: 1024px;
}

button, a {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
button.white, a.white {
  color: white;
}
button.ghost, a.ghost {
  border: 1px solid #164c89;
  padding: 10px 15px;
  color: #164c89;
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
button.ghost:hover, a.ghost:hover {
  color: #ce0058;
  border: 1px solid #ce0058;
}
button.ghost.white, a.ghost.white {
  color: white;
  border: 1px solid white;
}
button.ghost.white:hover, a.ghost.white:hover {
  opacity: 0.6;
}
button:hover, a:hover {
  color: #ce0058;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 0;
  z-index: 1;
}
header .logo {
  float: left;
}
header .logo img {
  width: 150px;
}
header nav {
  float: right;
  margin-top: 15px;
}
header nav li {
  color: white;
  display: inline-block;
  margin: 0 5px;
}
header nav li a {
  color: white;
  text-decoration: none;
}

footer {
  background: #4A4A4A;
  padding: 24px;
}
footer a {
  color: white;
}
footer a:hover {
  color: #ce0058;
}

.page-home {
  background: transparent url(../images/home-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.page-home .home-copy {
  width: 98%;
  max-width: 565px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.page-skills {
  background: #fafafa;
  padding: 24px 0;
  clear: both;
}
.page-skills:before, .page-skills:after {
  content: " ";
  display: table;
}
.page-skills:after {
  clear: both;
}

.skills li {
  float: left;
  width: 20%;
  padding: 0 15px;
  text-align: center;
  border-left: 1px solid #888;
  color: #6c6f98;
}
.skills li img {
  width: 60px;
}

.projects li {
  width: 100%;
  position: relative;
  text-align: center;
  clear: both;
}
.projects li:before, .projects li:after {
  content: " ";
  display: table;
}
.projects li:after {
  clear: both;
}
.projects li .img {
  width: 35%;
  float: left;
}
.projects li .project-info {
  width: 45%;
  float: right;
  padding: 24px 0;
}
.projects li .project-info p {
  padding-bottom: 15px;
  max-width: 385px;
  margin: 0 auto;
  width: 95%;
}
.projects li:nth-child(2n) .img {
  width: 35%;
  float: right;
}
.projects li:nth-child(2n) .project-info {
  width: 45%;
  float: left;
}

.page-team .globe {
  color: white;
  padding: 15px;
  margin-left: 124px;
  background: #6c6f98;
  top: 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.page-team .globe:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #6c6f98 transparent transparent transparent;
  top: 100%;
  left: 10px;
}
.page-team .team {
  width: 100%;
  text-align: center;
}
.page-team .team li {
  width: 150px;
  display: inline-block;
  margin: 20px;
}
.page-team .team img {
  width: 100%;
}

.page-contact {
  background: #ce0058;
  text-align: center;
}
