// ------- Lato Regular

@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/Lato-Regular/Lato-Regular.eot') format('embedded-opentype'),  url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular/Lato-Regular.ttf')  format('truetype'), url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// ------- Lato Bold

@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/Lato-Bold/Lato-Bold.eot') format('embedded-opentype'),  url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold/Lato-Bold.ttf')  format('truetype'), url('../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: normal;
  font-weight: normal;
  font-style: normal;
}

// ------- FMedium

@font-face {
  font-family: 'f-medium';
  src: url('../fonts/F-Medium/F-Medium.eot') format('embedded-opentype'),  url('../fonts/F-Medium/F-Medium.woff') format('woff'), url('../fonts/F-Medium/F-Medium.ttf')  format('truetype'), url('../fonts/F-Medium/F-Medium.svg#F-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

// ------- FBold

@font-face {
  font-family: 'f-bold';
  src: url('../fonts/F-Bold/F-Bold.eot') format('embedded-opentype'),  url('../fonts/F-Bold/F-Bold.woff') format('woff'), url('../fonts/F-Bold/F-Bold.ttf')  format('truetype'), url('../fonts/F-Bold/F-Bold.svg#F-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}