.page-projects {

}

.projects {

	li {
		width: 100%;
		position: relative;
		text-align: center;
		@include clearfix;

		.img {
			width: 35%;
			float: left;
		}

		.project-info {
			width: 45%;
			float: right;
			padding: 24px 0;

			p {
				padding-bottom: 15px;
			    max-width: 385px;
			    margin: 0 auto;
			    width: 95%;
			}
		}

		&:nth-child(2n){

			.img {
				width: 35%;
				float: right;
			}

			.project-info {
				width: 45%;
				float: left;
			}
		}
	}
}